<html lang="vi">
    <head>
        <title>Tin điện ảnh</title>
        <link rel="stylesheet" href="https://moveek.com/build/main.af106d0e.css"/>
        <link rel="manifest" href="https://moveek.com/manifest.json"/>
    </head>
    <body class="language-vi">
        <div id="app">
            <div class="main-content">
                <div class="bg-dark tix-bg">
                    <div class="container pt-4 pb-4">
                        <div class="text-center">
                            <h1 class="mb-3 text-white">
                                Tin điện ảnh
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="article" class="container mt-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card card-article card-infinite mb-3">
                            <div class="card-header bg-light">
                                <div class="card-header-title">
                                    Mới nhất
                                </div>
                            </div>
                            <p>Movie Show Here</p>
                            <h1 style="text-align: center;"></h1>

                            {% for new in news %}
                            <h3>
                                {{ new.title }}
                            </h3>
                            <div>
                                {{ new.text | truncatechars:100 }}
                            </div>
                            <div style="text-align: right;">
                                <a href="{% url 'news:detail' new_id=new.id %}">Read More</a>
                            </div>
                            {% endfor %}

                        </div>
                        <a href="#" class="btn btn-light btn-block btn-view-more mb-3">
                            Xem thêm
                        </a>
                        <div class="page-load-status">
                            <div class="infinite-scroll-request">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <p class="infinite-scroll-last">End of content</p>
                            <p class="infinite-scroll-error">No more pages to load</p>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-12 col-sm-5 text-center text-sm-left">
                            <div class="small text-muted">
                                Edit By
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </body>
</html>