<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}

    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<nav class="navbar navbar-expand-lg navbar-light" id="topnav">
    <div class="container">


        <!-- User -->
        <div class="navbar-user">

            <div class="mr-4 d-flex">
                <a href="#" class="btn btn-outline-dark btn-sm" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom" data-content="<a href='/lich-chieu/' class='btn btn-light btn-sm btn-block mb-2 active'>Tiếng Việt</a><a href='/en/lich-chieu/' class='btn btn-light btn-sm btn-block mb-2'>English</a><a href='/ko/lich-chieu/' class='btn btn-light btn-sm btn-block'>한국어</a>" data-original-title="" title="">
                    VI                                                        </a>
            </div>

                            <div class="dropdown mr-4 d-flex">
                    <a href="#" class="text-secondary" data-toggle="modal" data-target="#locationModal">
                        <i class="fe fe-map-pin"></i>
                                            </a>
                </div>

                            <div class="d-lg-flex">

                    <a href="#" class="text-secondary" data-toggle="modal" data-target="#userModal">
                        <i class="fe fe-user"></i>
                    </a>
                </div>
                    </div>

        <div class="collapse navbar-collapse mr-auto order-lg-first" id="navbar">
            <form action="/tim-kiem/" method="GET" class="mt-4 mb-3 d-md-none">
                <input type="search" name="s" class="form-control form-control-rounded" placeholder="Từ khóa tìm kiếm..." aria-label="Search">
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/mua-ve/">
                        Mua vé
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" id="topNavMovies" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Phim
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="topNavMovies">
                        <li>
                            <a class="dropdown-item" href="/lich-chieu/">
                                Lịch chiếu
                            </a>
                        </li>

            </ul>

    </div> <!-- / .container -->
</nav>
<body>
{% block mdcss %}
{% endblock mdcss %}
{% block content %}
{% endblock content %}

</body>
</html>